server:
  port: 8070

eureka:
  client:
    register-with-eureka: false
    fetch-registry: false
    eureka-server-port: 'http://localhost:${server.port}/eureka'

spring:
  application:
    name: sample-eureka1
